body[data-controller=blogs] {
  .blog-card {
    display: block;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px #00000020;

    &:hover {
      background-color: #00000020;
    }
  }
  .blog-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #EEE;
  }
  .blog-content {
    font-size: 1em;
    color: #EEE;
  }
}
