<div class="container">
  <div class="float-right">
    <%= link_to "Edit", edit_blog_path(@blog) %>
  </div>
  <h2 class="text-center"><%= @blog.title %></h2>
  <div class="blog-content"><%= @blog.to_html %></div>
</div>
