html:has(body[data-controller=lists]) {
  #list-items {
    .item-card {
      padding: 10px;

      .item-title {
        font-size: 1em;
        margin-bottom: 0;
      }

      .item-actions {
        position: relative;

        .item-delete {
          position: absolute;
          text-align: center;
          top: -5px;
          right: -5px;
          font-size: 0.4em;
          cursor: pointer;
          background-color: green;
          border-radius: 4px;
          padding: 2px 4px;
          background-color: #2E2E2E;
        }
      }

      &.completed {
        background-color: #2E2E2E;
        border-color: #333;

        .item-title {
          color: #777;
          text-decoration: line-through;
          font-style: italic;
        }

        .item-actions {
          .item-delete {
            background-color: #393939;
          }
        }
      }

      &.pending {
        background-color: #2E2E2E;
        border-color: #333;

        .item-title {
          color: #777;
          font-size: 0.8em;
        }

        .item-actions {
          display: none;
        }
      }
    }
  }
}
