html:has(body[data-controller=lists]) {
  #list-items {
    .item-card {
      padding: 10px;

      .item-title {
        font-size: 1em;
        margin-bottom: 0;
      }

      &.completed {
        background-color: #2E2E2E;
        border-color: #333;

        .item-title {
          color: #777;
          text-decoration: line-through;
          font-style: italic;
        }
      }

      &.pending {
        background-color: #2E2E2E;
        border-color: #333;

        .item-title {
          color: #777;
          font-size: 0.8em;
        }
      }
    }
  }
}
