html:has(body[data-controller=lists]) {
  #list-items {
    .list-item {
      padding: 10px;

      .item-title {
        font-size: 1em;
        margin-bottom: 0;
        width: 100%;

        input {
          margin: 0;
        }
      }

      .item-actions {
        position: relative;

        .delete-item {
          position: absolute;
          text-align: center;
          top: -5px;
          right: -5px;
          font-size: 0.4em;
          cursor: pointer;
          background-color: green;
          border-radius: 4px;
          padding: 2px 4px;
          background-color: #2E2E2E;
        }
      }

      &.dragging {
        opacity: 0.2;
        background-color: #3E3E3E;
      }

      &.completed {
        background-color: #2E2E2E;
        border-color: #333;

        .item-title {
          color: #777;
          text-decoration: line-through;
          font-style: italic;
        }

        .item-actions {
          .delete-item {
            background-color: #393939;
          }
        }
      }

      &.pending {
        background-color: #2E2E2E;
        border-color: #333;

        .item-title {
          color: #777;
          font-size: 0.8em;
        }

        .item-actions {
          display: none;
        }
      }

      &.toggling {
        background-color: #2E4E2E;
        border-color: #334333;

        .item-title {
          color: #787;
        }
      }

      &.deleting {
        background-color: #6E2E2E;
        border-color: #533333;

        .item-title {
          color: #B77;
          text-decoration: line-through;
          font-style: italic;
        }

        .item-actions {
          display: none;
        }
      }
    }

    .placeholder {
      background-color: #0160FF;
      display: block;
      height: 15px;
      border-radius: 8px;
    }
  }
}

.list-item.drag-image {
  opacity: 0.2;
  background-color: #3E3E3E;
  padding: 10px;
  min-width: 300px;

  .item-title {
    margin-bottom: 0;
    font-size: 1em;

    input { margin: 0; }
  }

  .item-actions {
    display: none;
  }
}
