html:has(body[data-controller=challenges][data-action=maze]) {
  display: block;

  #maze {
    margin: 0 auto;
    padding: 50px;
    position: relative;

    .player {
      margin: 54px; /* maze margin + cell.margin*2 */
      position: absolute;
      border-radius: 20px;
      width: 15px;
      height: 15px;
      background: gold;
    }

    .row {
      display: block;
      font-size: 0;
      white-space: nowrap;
    }

    .cell {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 2px;
      position: relative;
      font-size: 16px;
      text-align: center;
      line-height: 20px;

      &:before, &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        z-index: 0;
      }

      &[data-left]:before { left: -5px; }
      &[data-right]:before { right: -5px; }
      &[data-up]:after { top: -5px; }
      &[data-down]:after { bottom: -5px; }

      &,          &:before,          &:after          { background-color: grey; }
      &.walked,   &.walked:before,   &.walked:after   { background-color: #0160FF; }
      &.locked,   &.locked:before,   &.locked:after   { background-color: blue; }
      &.walking,  &.walking:before,  &.walking:after  { background-color: darkgrey; }
      &.walker,   &.walker:before,   &.walker:after   { background-color: orange; }
      &.first,    &.first:before,    &.first:after    { background-color: green; }
      &.last,     &.last:before,     &.last:after     { background-color: purple; }
      &.farthest, &.farthest:before, &.farthest:after { background-color: brown; }
      &.finish,   &.finish:before,   &.finish:after   { background-color: lime; }
      &.recount,  &.recount:before,  &.recount:after  { color: red; font-weight: bold; }

      .cell-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        font-size: 10px;
      }
    }

    & .cell .clean {
      /* Same color as walked class, but defined at the end for specificity */
      &, &:before, &:after { background-color: #0160FF; }

      .cell-content {
        display: none;
      }
    }
  }
}
