.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
