.btn {
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: var(--btn-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border-color: var(--btn-border-color);

  &.inline-btn {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px 10px;
  }

  &.danger {
    background-color: #DC3545;
    border-color: #DC3545;
  }
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-sizing: border-box;

  &[type=color] {
    padding: 0;
  }
}

.form-control:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
