<% list_item ||= ListItem.new %>

<% class_list = [] %>
<% class_list << :pending if list_item.id.blank? %>
<% class_list << :completed if list_item.completed? %>

<%= link_to list_item.id && list_list_item_path(@list, list_item), class: "item-card #{class_list.join(" ")}" do %>
  <div class="item-title"><%= list_item.name %></div>
<% end %>
